@import url(https://fonts.googleapis.com/css?family=Commissioner:regular,500,700);
[class*=_icon-]:before {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

[class*="--ibg"] {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
}

[class*="--img"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font-family: var(--mainFont), sans-serif;
}

.page {
  height: 100vh;
  overflow-y: hidden;
}

.header {
  height: 78px;
  padding-right: 80px;
  padding-left: 120px;
  position: fixed;
  inset: 0;
  z-index: 10;
  border-bottom: 1px solid var(--colorText);
}
@media (max-width: 1680px) {
  .header {
    padding-right: calc(60px + 20 * (100vw - 320px) / 1360);
  }
}
@media (max-width: 1680px) {
  .header {
    padding-left: calc(90px + 30 * (100vw - 320px) / 1360);
  }
}
.header.dark .header__logo-image--dark {
  fill: #000;
  transition: fill 0.3s ease-in-out 0.3s;
}
.header.dark .menu__phone-image {
  filter: brightness(10%);
  transition: filter 0.3s ease-in-out 0.3s;
}
.header.dark .menu__phone-link span {
  color: #000;
  transition: color 0.3s ease-in-out 0.3s;
}
.header.dark .menu__burger span {
  color: var(--mainColor);
  transition: color 0.3s ease-in-out 0.3s;
}
.header.dark .menu__burger-image {
  filter: brightness(0) saturate(100%) invert(34%) sepia(96%) saturate(2173%) hue-rotate(2deg) brightness(104%) contrast(108%);
  transition: filter 0.3s ease-in-out 0.3s;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding-top: 16px;
}
.header__logo-image--dark {
  transition: fill 0.3s ease-in-out 0.3s;
}
.menu {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
}
.menu__phone {
  padding-top: 16px;
  padding-right: 83px;
  padding-bottom: 27px;
  padding-left: 64px;
  border-left: 1px solid var(--colorMainSlideBorder);
  border-right: 1px solid var(--colorMainSlideBorder);
}
@media (max-width: 1680px) {
  .menu__phone {
    padding-right: calc(30px + 53 * (100vw - 320px) / 1360);
  }
}
@media (max-width: 1680px) {
  .menu__phone {
    padding-left: calc(20px + 44 * (100vw - 320px) / 1360);
  }
}
.menu__phone-link {
  color: #fff;
  font-family: var(--mainFont);
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}
.menu__phone-link span {
  transition: color 0.3s ease-in-out 0.3s;
}
.menu__phone-image {
  transition: filter 0.3s ease-in-out 0.3s;
}
.menu__burger {
  display: flex;
  gap: 20px;
  padding-top: 16px;
  padding-right: 80px;
  padding-bottom: 27px;
  padding-left: 74px;
  border-right: 1px solid var(--colorMainSlideBorder);
}
@media (max-width: 1680px) {
  .menu__burger {
    padding-right: calc(20px + 60 * (100vw - 320px) / 1360);
  }
}
@media (max-width: 1680px) {
  .menu__burger {
    padding-left: calc(30px + 44 * (100vw - 320px) / 1360);
  }
}
.menu__burger span {
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out 0.3s;
}
.menu__burger-icon {
  background-color: transparent;
  border: none;
  padding: 0;
}
.menu__burger-image {
  transition: filter 0.3s ease-in-out 0.3s;
}

.main__inner {
  position: fixed;
  bottom: 78px;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
  z-index: 2;
  border-top: 1px solid var(--colorText);
}
.main__slide-connect:before, .main__slide-connect:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  display: block;
  z-index: 5;
}
.main__slide-connect:before {
  left: 80px;
  border-left: 1px solid var(--colorText);
}
.main__slide-connect:after {
  right: 80px;
  border-right: 1px solid var(--colorText);
}
.main__slide-contacts:before, .main__slide-contacts:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  display: block;
  z-index: 5;
}
.main__slide-contacts:before {
  left: 80px;
  border-left: 1px solid var(--colorMainSlideBorder);
}
.main__slide-contacts:after {
  right: 80px;
  border-right: 1px solid var(--colorMainSlideBorder);
}
.main__slide-partners:before, .main__slide-partners:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  display: block;
  z-index: 5;
}
.main__slide-partners:before {
  left: 80px;
  border-left: 1px solid var(--colorText);
}
.main__slide-partners:after {
  right: 80px;
  border-right: 1px solid var(--colorText);
}
.main__slide-applications:before, .main__slide-applications:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  display: block;
  z-index: 5;
}
.main__slide-applications:before {
  left: 80px;
  border-left: 1px solid var(--colorMainSlideBorder);
}
.main__slide-applications:after {
  right: 80px;
  border-right: 1px solid var(--colorMainSlideBorder);
}
.main__slide-history:before, .main__slide-history:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  display: block;
  z-index: 5;
}
.main__slide-history:before {
  left: 80px;
  border-left: 1px solid var(--colorText);
}
.main__slide-history:after {
  right: 80px;
  border-right: 1px solid var(--colorText);
}
.main__slide-production:before, .main__slide-production:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  display: block;
  z-index: 5;
}
.main__slide-production:before {
  left: 80px;
  border-left: 1px solid var(--colorText);
}
.main__slide-production:after {
  right: 80px;
  border-right: 1px solid var(--colorText);
}
.main__slide-about:before, .main__slide-about:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  display: block;
  z-index: 5;
}
.main__slide-about:before {
  left: 80px;
  border-left: 1px solid var(--colorText);
}
.main__slide-about:after {
  right: 80px;
  border-right: 1px solid var(--colorText);
}
.main__slide-wrapper {
  position: relative;
  top: 0;
  left: 0;
  padding: 100px 80px 15px 80px;
  height: 100vh;
  transition: opacity 0.3s, z-index 0.3s;
}
.main__slide-content {
  padding-left: 176px;
  width: -moz-max-content;
  width: max-content;
}
.main__slide-mask {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(0.75);
}
.main__slide-block {
  max-width: 765px;
}
.main__slide-title {
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 50px 0;
}
.main__slide-items {
  margin: 0 0 96px 0;
  padding: 0;
}
.main__slide-item:not(:last-child) {
  margin-bottom: 34px;
}
.main__slide-button {
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
}
.main__swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0 22px;
}
.main__swiper-name-slide {
  box-sizing: border-box;
  white-space: nowrap;
  display: flex;
  min-height: 12px;
  min-width: 12px;
  border-radius: 50%;
  border: 1px solid var(--colorText);
  background-color: transparent;
}
.main__menu {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 0px 80px 0 120px;
  transition: opacity 0.5s;
  border-top: 1px solid var(--colorText);
}
.main__menu-items {
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 100%;
}
.main__menu-item {
  position: relative;
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px 0 14px;
  border-left: 1px solid var(--colorMainSlideBorder);
  border-right: 1px solid var(--colorMainSlideBorder);
}
.main__menu-item:hover {
  flex-grow: 1;
}
.main__menu-item:hover .main__menu-text {
  animation: clip 1.25s ease forwards;
  animation-delay: 0.5s;
  display: block;
}
@keyframes clip {
  from {
    -webkit-clip-path: polygon(0 0%, 0% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0%, 0% 0, 0 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.main__menu-text {
  -webkit-clip-path: polygon(0 0%, 0% 0, 0 100%, 0 100%);
          clip-path: polygon(0 0%, 0% 0, 0 100%, 0 100%);
  color: var(--mainColor);
  font-family: var(--mainFont);
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  display: none;
}

.about {
  background-color: var(--colorBorder);
}
.about__wrapper {
  padding: 100px 120px 15px 120px;
  height: 100vh;
}
.about__wrapper-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.about__wrapper-slider {
  padding-top: 30px;
}
.about__title {
  color: var(--mainSubColor);
  margin: 0;
}
.about__more-details {
  color: var(--colorText);
  font-family: var(--mainFont);
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
  text-transform: uppercase;
  text-decoration: none;
}
.about__paragraphs {
  display: flex;
  gap: 20px;
}
.about__paragraph {
  flex: 1;
}
.about__paragraph:nth-last-child(-n+2) .about__subtitle::after {
  content: "+";
}
.about__subtitle {
  color: var(--mainColor);
  font-family: var(--mainFont);
  font-size: 96px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
}
.about__subtitle:before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  border-bottom: 1px solid var(--titleBorder);
  height: 100%;
  width: 100%;
  display: block;
}
.about__subtitle-text {
  display: block;
  border-bottom: 3px solid var(--mainColor);
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 3;
}
.about__subtitle-under {
  color: var(--mainSubColor);
  font-family: var(--mainFont);
  font-size: 24px;
  font-weight: 500;
  line-height: 250%;
  margin: 0;
}
.about__item picture {
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 30px;
}
.about__item picture img {
  width: 100%;
  height: 100%;
}
.about__item-text {
  color: var(--mainSubColor);
  font-family: var(--mainColor);
  font-size: 21px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.production__wrapper {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  padding: 100px 120px 15px 120px;
  height: 100vh;
}
.production__wrapper:before, .production__wrapper:after {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}
.production__wrapper:before {
  content: "";
  background: url("../images/alcor-production-image/production__wrapper-links-background-1.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
}
.production__wrapper:after {
  content: "";
  background-color: var(--mainSubColor);
  right: 0;
}
.production__wrapper-links {
  flex: 0 1 47.6%;
  padding: 0 20px 20px 20px;
}
.production__wrapper-details {
  flex: 1;
  padding: 0 20px 20px 20px;
}
.production__title {
  color: #FFF;
  margin: 0 0 40px 0;
}
.production__items {
  margin: 0;
  padding: 0;
}
.production__item:not(:last-child) {
  margin-bottom: 25px;
}
.details__information {
  width: 100%;
}
.details__information-title {
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 36px;
  font-weight: 600;
  line-height: 125%;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
.details__information-description {
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 21px;
  font-weight: 400;
  line-height: 125%;
  margin: 0 0 32px 0;
}
.details__information-button {
  border: 2px solid var(--colorText);
  color: var(--colorText);
  margin: 0 0 15px 0;
}
.details__information-schema {
  display: flex;
}
.details__information-lists {
  flex: 0 1 45%;
  margin: 0;
  padding: 0;
}
.details__information-list {
  list-style: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 12px;
}
.details__information-list[open] .accordion__icon {
  transform: rotate(45deg);
}
.details__information-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin-bottom: 20px;
}
.details__information-name {
  color: #fff;
  font-family: var(--mainFont);
  font-size: 21px;
  font-weight: 600;
  line-height: 125%;
}
[aria-expanded=true] .details__information-name {
  color: var(--mainColor);
}
.details__information-icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}
[aria-expanded=true] .details__information-icon:before {
  background-color: var(--mainColor);
}
[aria-expanded=true] .details__information-icon:after {
  background-color: var(--mainColor);
}
.details__information-icon:before, .details__information-icon:after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  z-index: 9;
}
.details__information-icon:before {
  left: 50%;
  top: 4px;
  bottom: 4px;
  width: 3px;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}
.details__information-icon:after {
  top: 50%;
  left: 4px;
  right: 4px;
  height: 3px;
  transform: translateY(-50%);
  transition: top 0.2s ease-in-out 0.2s;
}
.details__information-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.3s ease-out;
  box-sizing: content-box;
}
.details__information-paragraph {
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.details__information-picture {
  flex: 0 1 55%;
  position: relative;
  top: 0;
  left: 0;
}
.details__information-image {
  position: absolute;
  top: -22%;
  left: 0;
  width: 80%;
}
.details__industrys {
  display: flex;
  gap: 20px;
  margin-bottom: 6px;
}
.details__industrys-paragraph {
  margin: 0;
  color: var(--mainColor);
  font-family: var(--mainFont);
  font-size: 14px;
  font-weight: 600;
  line-height: 200%;
  text-transform: uppercase;
}

.open .details__information-content {
  opacity: 1;
  padding-bottom: 35px;
}

.open .details__information-icon {
  transition: opacity 0.2s ease-in-out 0.2s;
}
.open .details__information-icon:before {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.2s;
}
.open .details__information-icon:after {
  top: 58%;
  transition: top 0.2s ease-in-out 0.2s;
}

.history__wrapper {
  padding: 100px 120px 15px 120px;
  background-color: var(--colorBorder);
  height: 100vh;
}
.history__wrapper-title {
  color: var(--mainSubColor);
  margin: 0 0 40px 0;
}
.history__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--titleBorder);
  padding-bottom: 9px;
  margin-bottom: 50px;
}
.history__line-items {
  display: flex;
  gap: 80px;
  margin: 0;
  padding: 0;
}
.history__line-item {
  color: var(--mainSubColor);
  transition: color 0.3s ease-in-out 0.3s;
  font-family: var(--mainFont);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  list-style: none;
  cursor: pointer;
}
.history__line-item.active {
  color: var(--mainColor);
  transition: color 0.3s ease-in-out 0.3s;
}
.history__information {
  display: flex;
  gap: 100px;
}
.history__information-picture {
  flex: 0 1 41.5%;
}
.history__information-picture picture img {
  width: 100%;
}
.history__information-description {
  flex: 0 1 50%;
}
.history__information-phase, .history__information-text {
  font-family: var(--mainFont);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  /* 26.25px */
}
.history__information-phase {
  color: var(--mainColor);
  margin-bottom: 10px;
}
.history__information-text {
  color: var(--mainSubColor);
}
.history__information-text:not(:last-child) {
  margin-bottom: 30px;
}

.partners__wrapper {
  padding: 100px 120px 15px 120px;
  background: url("../images/alcor-partners-image/partners-background-image.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}
.partners__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 31, 38, 0.95);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.partners__wrapper-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.partners__wrapper-title {
  color: #fff;
  margin: 0;
}
.partners__wrapper-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 82px 215px;
}
.partners__wrapper-picture {
  margin-bottom: 36px;
}
.partners__wrapper-name {
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.partners__wrapper-description {
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
}
.contacts__wrapper {
  padding: 100px 120px 15px 120px;
  height: 100vh;
  background-color: var(--colorBorder);
}
.contacts__wrapper-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.contacts__wrapper-title {
  margin: 0 0 30px 0;
}
.contacts__wrapper-links {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}
.contacts__wrapper-link {
  list-style: none;
  transition: color 0.3s ease-in-out 0.3s, padding-bottom 0.3s ease-in-out 0.3s, border-bottom 0.3s ease-in-out 0.3s;
}
.contacts__wrapper-link.active {
  color: var(--mainColor);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--mainColor);
  transition: color 0.3s ease-in-out 0.3s, padding-bottom 0.3s ease-in-out 0.3s, border-bottom 0.3s ease-in-out 0.3s;
}
.contacts__wrapper-items {
  display: grid;
  grid-template-columns: repeat(3, 24%);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 163px;
}
.contacts__wrapper-name {
  color: var(--colorText);
  font-family: var(--mainFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0 0 10px 0;
}
.contacts__wrapper-description, .contacts__wrapper-description > * {
  color: var(--mainSubColor);
  font-family: var(--mainFont);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  text-decoration: none;
}
.contacts__wrapper-requisites {
  color: var(--mainColor);
  font-family: var(--mainFont);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-top: 20px;
}
.contacts__wrapper-map {
  width: 100%;
  height: 350px;
}

.connect__wrapper {
  padding: 100px 120px 15px 120px;
  background: url("../images/alcor-connect-image/connect-background-image.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}
.connect__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(32, 31, 38, 0.95);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.connect__wrapper-section {
  width: 43%;
  position: relative;
  z-index: 2;
}
.connect__wrapper-title {
  color: #FFF;
  margin: 0 0 30px 0;
}
.connect__wrapper-items {
  margin-bottom: 30px;
}
.connect__wrapper-item {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--colorText);
}
.connect__wrapper-item:not(:last-child) {
  margin-bottom: 30px;
}
.connect__wrapper-input {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  height: 50px;
  outline: 0;
  width: 100%;
  cursor: pointer;
}
.connect__wrapper-label {
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  pointer-events: none;
  position: absolute;
  transition: all 200ms;
  top: 12px;
  left: 0;
}
.connect__wrapper-label span {
  color: var(--mainColor);
}
.connect__wrapper-input:not(:-moz-placeholder-shown) + .connect__wrapper-label {
  top: -10px;
  left: 0;
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.connect__wrapper-input.error + .connect__wrapper-label, .connect__wrapper-input:not(:placeholder-shown) + .connect__wrapper-label, .connect__wrapper-input:focus + .connect__wrapper-label {
  top: -10px;
  left: 0;
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.connect__wrapper-send {
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid var(--colorText);
  color: var(--colorText);
}
.connect__wrapper-checkbox {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.connect__wrapper-checkbox input[type=checkbox] {
  display: none;
}
.connect__wrapper-checkbox input[type=checkbox] + label {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  width: 24.5px;
  height: 20px;
  border: 1px solid #fff;
  padding: 3px;
  transition: background-color 0.3s ease;
}
.connect__wrapper-checkbox input[type=checkbox] + label:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.connect__wrapper-checkbox input[type=checkbox]:checked + label:after {
  background-color: #fff;
  transition: background-color 0.3s ease;
}
.connect__wrapper-submit {
  color: #FFF;
  font-family: var(--mainFont);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
}