.button {
    display: flex;
    width: max-content;
    font-family: var(--mainFont);
    font-size: 18px;
    font-weight: 500;
    line-height: 200%;
    padding: 12px 60px;
    text-decoration: none;
    cursor: pointer;
}

.title {
    font-family: var(--mainFont);
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.link-hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s ease-in-out, padding-bottom .5s ease-in-out;
    padding-bottom: 0;
    cursor: pointer;

    &:after {
        content: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.6 9L24 23.4V10.5H27V28.5H9V25.5H21.9L7.5 11.1L9.6 9Z' fill='white'/%3E%3C/svg%3E");
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }

    &.active {
        & {
            border-bottom: 1px solid #fff;
            transition: border-bottom .5s ease-in-out, padding-bottom .5s ease-in-out;
            padding-bottom: 18px;
        }

        &:after {
            opacity: 1;
            transition: opacity .5s ease-in-out;
        }
    }

}

.navigation {
    display: flex;
    align-items: center;
    gap: 70px;
}

.link {
    color: #FFF;
    font-family: var(--mainFont);
    font-size: 21px;
    font-weight: 400;
    line-height: 125%;
    text-decoration: none;
}

#name-error {
    
}

[id*="-error"] {
    color: #fff;
}