@use "sass:math";
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import url(https://fonts.googleapis.com/css?family=Commissioner:regular,500,700);
@import "mixins.scss";
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


body {
    font-family: var(--mainFont), sans-serif;
    // touch-action: manipulation;

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.page {
    height: 100vh;
    overflow-y: hidden;
}

.header {
    height: 78px;
    @include adaptiv-value("padding-right", 80, 60, 1);
    @include adaptiv-value("padding-left", 120, 90, 1);
    position: fixed;
    inset: 0;
    z-index: 10;
    border-bottom: 1px solid var(--colorMainSlideBorder);

    // .header__content

    &__content {
        display: flex;
        justify-content: space-between;
    }

    // .header__logo

    &__logo {
        padding-top: 16px;

    }

    // .header__menu

    &__menu {}
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    // border: 1px solid var(--colorBorder);
    // .menu__phone

    &__phone {
        // padding: 16px 80px 27px 65px;
        padding-top: 16px;
        @include adaptiv-value("padding-right", 83, 30, 1);
        padding-bottom: 27px;
        @include adaptiv-value("padding-left", 64, 20, 1);
        border-left: 1px solid var(--colorMainSlideBorder);
        border-right: 1px solid var(--colorMainSlideBorder);
        // &:before{
        //     content: "";
        //     position: absolute;
        //     top: -16px;
        //     left: 0;
        //     width: 1px;
        //     height: 71px;
        // }
        // padding: 0 81px 25px 65px;
    }

    // .menu__phone-link

    &__phone-link {
        color: #fff;
        font-family: var(--mainFont);
        font-size: 18px;
        font-weight: 600;
        line-height: 200%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 16px;
        text-decoration: none;
    }

    // .menu__burger

    &__burger {
        display: flex;
        gap: 20px;
        padding-top: 16px;
        @include adaptiv-value("padding-right", 80, 20, 1);
        padding-bottom: 27px;
        @include adaptiv-value("padding-left", 74, 30, 1);
        border-right: 1px solid var(--colorMainSlideBorder);

        span {
            color: #FFF;
            font-family: var(--mainFont);
            font-size: 18px;
            font-weight: 600;
            line-height: 200%;
            text-transform: uppercase;
        }

        // padding: 0 79px 25px 75px;
    }

    // .menu__burger-icon

    &__burger-icon {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}

.main {

    // .main__swiper

    &__swiper {

        //.main__swiper-pagination
        &-pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            padding: 0 22px;

        }

        //.main__swiper-name-slide
        &-name-slide {
            white-space: nowrap;
            display: flex;
            min-height: 12px;
            min-width: 12px;
            border-radius: 50%;
            border: 1px solid var(--colorText);
            background-color: transparent;
        }
    }

    // .main__slide

    &__slide {

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            display: block;
            z-index: 5;
        }

        &:before {
            left: 80px;
            border-left: 1px solid var(--colorMainSlideBorder);
        }

        &:after {
            right: 80px;
            border-right: 1px solid var(--colorMainSlideBorder);
        }

        // .main__slide-production

        &-production {

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                width: 1px;
                height: 100%;
                display: block;
                z-index: 5;
            }

            &:before {
                left: 80px;
                border-left: 1px solid var(--colorText);
            }

            &:after {
                right: 80px;
                border-right: 1px solid var(--colorText);
            }
        }

        // .main__slide-about

        &-about {

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                width: 1px;
                height: 100%;
                display: block;
                z-index: 5;
            }

            &:before {
                left: 80px;
                border-left: 1px solid var(--colorText);
            }

            &:after {
                right: 80px;
                border-right: 1px solid var(--colorText);
            }
        }

        //.main__slide-wrapper
        &-wrapper {
            position: relative;
            top: 0;
            left: 0;
            padding: 165px 80px 155px 80px;
            height: 100vh;
            transition: opacity 0.3s, z-index 0.3s;
            // /* Добавляем transition для smooth анимации */
            // opacity: 0;
            // /* Изначальное состояние элемента */
            // z-index: -1;

            // /* Изначальное состояние элемента */
            // &.active {
            //     opacity: 1;
            //     z-index: 1;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     height: 100vh;
            //     width: 100vw;
            // }
        }

        //.main__slide-content
        &-content {
            padding-left: 176px;
            width: max-content;
        }

        //.main__slide-mask
        &-mask {
            position: absolute;
            inset: 0;
            z-index: -1;
            // background-image: url("/images//alcor-main-slide-wrapper/alternative-energy.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            filter: brightness(0.75);

        }

        //.main__slide-block
        &-block {
            max-width: 765px;
        }

        // .main__slide-title

        &-title {
            color: #FFF;
            font-family: var(--mainFont);
            font-size: 80px;
            font-weight: 700;
            line-height: normal;
            margin: 0 0 50px 0;

        }

        // .main__slide-items

        &-items {
            margin: 0 0 96px 0;
            padding: 0;

        }

        // .main__slide-item

        &-item {

            &:not(:last-child) {
                margin-bottom: 34px;
            }
        }

        //.main__slide-link
        &-link {}

        // .main__slide-button

        &-button {
            color: var(--mainColor);
            border: 2px solid var(--mainColor);
        }

    }


    // .main__menu

    &__menu {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 2;
        padding: 0px 80px 0 120px;
        border-top: 1px solid var(--colorMainSlideBorder);
        transition: opacity 0.5s;
        // .main__menu-wrapper

        &-wrapper {}

        // .main__menu-items

        &-items {
            display: flex;
            margin: 0;
            padding: 0;
            cursor: pointer;
            max-width: 100%;
        }

        //.main__menu-photo
        &-photo {}

        // .main__menu-item

        &-item {
            list-style: none;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 15px 0 14px;
            border-left: 1px solid var(--colorMainSlideBorder);
            border-right: 1px solid var(--colorMainSlideBorder);
        }

        //.main__menu-text
        &-text {
            // white-space: nowrap;
            color: var(--mainColor);
            font-family: var(--mainFont);
            font-size: 21px;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            margin: 0;

        }
    }
}

.about {
    background-color: var(--colorBorder);
    // .about__wrapper

    &__wrapper {
        padding: 116px 120px 155px 120px;
        // .about__wrapper-head

        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 49px;
            // padding: 0 40px;
        }

        // .about__wrapper-slider

        &-slider {
            padding-top: 46px;
            // padding: 0 40px;
        }

        // .about__wrapper-swiper

        &-swiper {}
    }

    // .about__title

    &__title {
        color: var(--mainSubColor);
        font-family: var(--mainFont);
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }

    // .about__more-details

    &__more-details {
        color: var(--colorText);
        font-family: var(--mainFont);
        font-size: 16px;
        font-weight: 600;
        line-height: 200%;
        text-transform: uppercase;
        text-decoration: none;
    }

    // .about__paragraphs

    &__paragraphs {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        // padding: 0 40px;
    }

    // .about__paragraph

    &__paragraph {
        flex: 1;

        &:nth-last-child(-n+2) .about__subtitle::after {
            content: "+";
        }
    }

    // .about__subtitle

    &__subtitle {
        color: var(--mainColor);
        font-family: var(--mainFont);
        font-size: 96px;
        font-weight: 700;
        line-height: normal;
        margin: 0;
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;

        &:before {
            content: "";
            position: absolute;
            bottom: 1px;
            left: 0;
            border-bottom: 1px solid var(--titleBorder);
            height: 100%;
            width: 100%;
            display: block;
        }

        //.about__subtitle-text
        &-text {
            display: block;
            border-bottom: 3px solid var(--mainColor);
            width: fit-content;
            position: relative;
            z-index: 3;
        }

        // .about__subtitle-under

        &-under {
            color: var(--mainSubColor);
            font-family: var(--mainFont);
            font-size: 24px;
            font-weight: 500;
            line-height: 250%;
            margin: 0;
        }
    }

    // .about__item

    &__item {

        picture {
            width: 100%;
            height: 100%;
            display: block;
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        // .about__item-text

        &-text {
            color: var(--mainSubColor);
            font-family: var(--mainColor);
            font-size: 21px;
            font-weight: 400;
            line-height: 125%;
            margin: 0;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    // .about__swiper-prev

    &__swiper-prev {}

    // .about__swiper-next

    &__swiper-next {}
}

.production {

    //.production__shell
    // &__inner{
    //     padding: 116px 120px 155px 120px;
    // }
    // .production__wrapper

    &__wrapper {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        padding: 116px 120px 155px 120px;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            z-index: -1;
        }

        &:before {
            content: '';
            background: url("../images/alcor-production-image/production__wrapper-links-background-1.png");
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            left: 0;
        }

        &:after {
            content: '';
            background-color: var(--mainSubColor);
            right: 0;
        }

        // .production__wrapper-links

        &-links {
            flex: 0 1 47.6%;
            padding: 20px;

        }

        // .production__wrapper-details

        &-details {
            flex: 1;
            padding: 20px;
        }
    }

    // .production__title

    &__title {
        color: #FFF;
        font-family: var(--mainFont);
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        margin: 0 0 60px 0;
    }

    // .production__items

    &__items {
        margin: 0;
        padding: 0;
    }

    // .production__item

    &__item {
        &:not(:last-child) {
            margin-bottom: 34px;
        }
    }

    // .production__link

    &__link {}

}


.details {

    // .details__information

    &__information {
        width: 100%;
        // .details__information-title

        &-title {
            color: #FFF;
            font-family: var(--mainFont);
            font-size: 36px;
            font-weight: 600;
            line-height: 125%;
            text-transform: uppercase;
            margin: 0 0 30px 0;
        }

        // .details__information-description

        &-description {
            color: #FFF;
            font-family: var(--mainFont);
            font-size: 21px;
            font-weight: 400;
            line-height: 125%;
            margin: 0 0 32px 0;
        }

        // .details__information-button

        &-button {
            border: 2px solid var(--colorText);
            color: var(--colorText);
            margin: 0 0 15px 0;
        }

        // .details__information-schema

        &-schema {
            display: flex;
        }

        // .details__information-lists

        &-lists {
            flex: 0 1 45%;
            margin: 0;
            padding: 0;
        }

        // .details__information-list

        &-list {
            list-style: none;
            border-bottom: 1px solid #fff;
            margin-bottom: 12px;

            &[open] .accordion__icon {
                transform: rotate(45deg);
            }
        }

        // .details__information-item 

        &-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            background-color: transparent;
            border-color: transparent;
            padding: 0;
            margin-bottom: 20px;

        }

        // .details__information-name

        &-name {
            color: #fff;
            font-family: var(--mainFont);
            font-size: 21px;
            font-weight: 600;
            line-height: 125%;

            [aria-expanded="true"] & {
                color: var(--mainColor);
            }

        }

        // .details__information-icon

        &-icon {
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;

            [aria-expanded="true"] &:before {
                background-color: var(--mainColor);
            }

            [aria-expanded="true"] &:after {
                background-color: var(--mainColor);
            }

            &:before,
            &:after {
                content: " ";
                position: absolute;
                display: block;
                background-color: #fff;
                z-index: 9;
            }

            &:before {
                left: 50%;
                top: 4px;
                bottom: 4px;
                width: 3px;
                transform: translateX(-50%);
                opacity: 1;
                transition: opacity .2s ease-in-out .2s;
            }

            &:after {
                top: 50%;
                left: 4px;
                right: 4px;
                height: 3px;
                transform: translateY(-50%);
                transition: top .2s ease-in-out .2s;
            }

        }

        // .details__information-content

        &-content {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            // padding: 0 20px;
            will-change: max-height;
            transition: all 0.3s ease-out;
            box-sizing: content-box;

        }

        //.details__information-paragraph
        &-paragraph {
            color: #FFF;
            font-family: var(--mainFont);
            font-size: 18px;
            font-weight: 400;
            line-height: 125%;
            margin: 0;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        // .details__information-picture

        &-picture {
            flex: 0 1 55%;
            position: relative;
            top: 0;
            left: 0;
        }

        // .details__information-image

        &-image {
            position: absolute;
            top: -20%;
            left: 0;
            width: 80%;
        }
    }

    // .details__industrys

    &__industrys {
        display: flex;
        gap: 20px;
        margin-bottom: 6px;
        // .details__industrys-paragraph

        &-paragraph {
            margin: 0;
            color: var(--mainColor);
            font-family: var(--mainFont);
            font-size: 14px;
            font-weight: 600;
            line-height: 200%;
            text-transform: uppercase;
        }
    }

}


.open .details__information-content {
    opacity: 1;
    padding-bottom: 35px;
}

.open .details__information-icon {
    transition: opacity .2s ease-in-out .2s;

    &:before {
        opacity: 0;
        transition: opacity .2s ease-in-out .2s;
    }

    &:after {
        top: 58%;
        transition: top .2s ease-in-out .2s;
    }
}