.page {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    overflow-y: scroll;
  }
}

//Start--Header

//.header
.header {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    height: 13.3vw;
    overflow: hidden;
    box-sizing: content-box;
    //.header__content
    &__content {
      margin: 0 8.333vw;
      padding-left: 1.944vw;
    }
  }
}

//.menu__phone
.menu__phone {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    padding: 2.778vw 5.833vw 4.444vw 5vw;

    span {
      display: none;
    }

    //.menu__phone-image
    &-image {
      width: 5.556vw;
      height: 5.556vw;
    }
  }
}

//.menu__burger
.menu__burger {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    padding: 2.778vw 5vw 4.444vw 5vw;

    span {
      display: none;
    }

    //.menu__burger-icon
    &-icon svg {
      width: 5.556vw;
      height: 5.556vw;
    }
  }
}

//.main__slide-wrapper
.main__slide-wrapper {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    height: auto;
  }
}

//.main__slide-content
.main__slide-content {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    padding-left: 0;
    width: auto;
  }
}

.main__slide-container {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    padding-top: 37.222vw;
    padding-left: 5.556vw;
    padding-right: 5.556vw;
    padding-bottom: 24.444vw;
    margin: 0 8.333vw;
  }
}

//.main__slide-title
.main__slide-title {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 7.222vw;
    margin-bottom: 8.333vw;
  }
}

//.main__slide-mask
.main__slide-mask {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    filter: brightness(0.4);
  }
}

//.main__slide-link
.main__slide-link {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 3.889vw;
    line-height: 4.861vw;
  }
}

//.main__slide-item:not(:last-child)
.main__slide-item {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    &:not(:last-child) {
      margin-bottom: 5.556vw;
    }
  }
}

//.main__slide-inner
.main__slide-inner {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    position: absolute;
    height: 12.778vw;
  }
}

//.main__slide-button
.main__slide-button {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    width: 50vw;
    height: 13.889vw;
    font-size: 3.889vw;
    line-height: 7.778vw;
    justify-content: center;
    padding: 3.333vw 12.5vw;
    box-sizing: border-box;
  }
}

//.main__menu
.main__menu {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    margin: 0 8.333vw;
    padding: 0;

    //.main__menu-item //.main__menu-text
    &-item.active &-text,
    &-item:hover &-text {
      display: none;
    }

    //.main__menu-item.active .main__menu-photo
    &-photo,
    &-item.active &-photo--hover {
      width: 6.667vw;
      height: 6.667vw;
      min-width: 6.667vw;
      min-height: 6.667vw;
    }

    &-item {
      width: 13.889vw;
      height: 12.778vw;
      justify-content: center;

      &.active {
        padding: 2.778vw 3.889vw 3.333vw 3.333vw;
      }
    }
  }
}

//End--Header

.main__swiper-wrapper.swiper-wrapper {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    flex-direction: column;
  }
}

//Start--About

//.about__wrapper
.about__wrapper {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    margin: 0 8.333vw;
    padding-left: 5.55556vw;
    padding-right: 5.55556vw;
    padding-bottom: 24.444vw;
    padding-top: 12.5vw;
    height: auto;

    //.about__wrapper-head
    &-head {
      margin-bottom: 12.5vw;
      gap: 2.77778vw;
    }

    //.about__wrapper-navigation
    &-navigation {
      margin-bottom: 8.33333vw;
      gap: 8.33333vw;
    }
  }
}

//.about__title
.about__title {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 7.22222vw;
  }
}

//.about__more-details
.about__more-details {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 2.77778vw;
    line-height: 5.55556vw;
  }
}

//.about__paragraphs
.about__paragraphs {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    flex-direction: column;
    gap: 11.11111vw;
    margin-bottom: 13.88889vw;
  }
}

//.about__subtitle
.about__subtitle {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 16.66667vw;
    margin-bottom: 4.16667vw;

    //.about__subtitle-under
    &-under {
      font-size: 3.88889vw;
      line-height: 4.86111vw;
    }
  }
}

//.about__item picture
.about__item {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    picture {
      width: 72.22222vw;
      height: 76.38889vw;
      margin-bottom: 8.33333vw;
    }

    //.about__item-text
    &-text {
      font-size: 3.88889vw;
      line-height: 4.86111vw;
    }
  }
}

//End--About

//Start--Production

//.production__wrapper
.production__wrapper {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    margin: 0 8.333vw;

    &:before {
      width: 100%;
    }

    &:after {
      width: 0;
    }

    //.production__wrapper--desktop
    &--desktop {
      display: none;
    }

    //.production__wrapper--tablet
    &--tablet {
      display: block;
      height: auto;
    }

    //.production__wrapper-container
    &-container {
      padding: 0;
    }

    //.production__wrapper-links
    &-links {
      flex: 1;
      padding: 0;
    }
  }
}

//.production__items--tablet
.production__items--tablet {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    padding: 0 5.55556vw 2.77778vw 5.55556vw;
  }
}

//.production__title
.production__title {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 7.22222vw;
    margin-bottom: 11.94444vw;
    padding: 16.66667vw 5.55556vw 0 5.55556vw;
  }
}

//.production__item.active
.production__item.active {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    margin-bottom: 10.27778vw;
  }
}

//.production__item
.production__item {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    &:not(:last-child) {
      margin-bottom: 0;
      padding-bottom: 8.33333vw;
    }
  }
}

//.production__link
.production__link {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 3.88889vw;
    line-height: 4.86111vw;
  }
}

//.production__item--tablet.active
.production__item--tablet {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    &.active {
      border-bottom: 0px solid var(--colorText);
    }

    &.active .production__link--tablet {
      margin-bottom: 4.16667vw;
    }
  }
}

//.details__industrys
.details__industrys {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    flex-direction: column;
    margin-bottom: 4.16667vw;

    //.details__industrys-paragraph
    &-paragraph {
      font-size: 2.77778vw;
      line-height: 5.55556vw;
    }
  }
}

//.details__information-description
.details__information-description {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 3.88889vw;
    line-height: 4.86111vw;
    margin-bottom: 6.94444vw;
  }
}

//.production__clause
.production__clause.active {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    margin-bottom: 6.94444vw;
  }
}

//.details__information-button
.details__information-button {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    width: 50vw;
    height: 13.889vw;
    font-size: 3.889vw;
    line-height: 7.778vw;
    justify-content: center;
    padding: 3.333vw 12.5vw;
    box-sizing: border-box;
  }
}

//.details__information-schema
.details__information-schema {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    flex-direction: column;
    height: 204.16667vw;
  }
}

//.details__information-name
.details__information-name {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 3.88889vw;
    line-height: 4.86111vw;
  }
}

//.details__information-icon
.details__information-icon {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    width: 6.66667vw;
    height: 6.66667vw;
  }
}

//.details__information-paragraph
.details__information-paragraph {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    font-size: 3.88889vw;
    line-height: 4.86111vw;
    padding-bottom: 0;
  }
}

//.open .details__information-content
.open .details__information-content {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    padding-bottom: 6.66667vw;
  }
}

//.details__information-item
.details__information-item {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    margin-bottom: 6.66667vw;
    width: 100%;
    justify-content: space-between;
  }
}

//.details__information-list
.details__information-list {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    &:not(:last-child) {
      margin-bottom: 6.66667vw;
    }
  }
}

//.details__information-picture--tablet
.details__information-picture--tablet {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    &:before {
      width: 77.77778vw;
      height: 96.11111vw;
      bottom: 0;
      right: calc(0vw - 5.27778vw);
    }
  }
}

//End--Production

//Start--History

//.history__wrapper
.history__wrapper {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    margin: 0 8.333vw;

    height: auto;

    //.history__wrapper-container
    &-container {
      padding: 19.44444vw 5.55556vw 15vw 5.55556vw;
    }

    //.history__wrapper-title
    &-title {
      margin-bottom: 11.11111vw;
      font-size: 7.22222vw;
    }
  }
}

//.history__line
.history__line {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    padding-bottom: 2.77778vw;
    margin-bottom: 13.88889vw;

    //.history__line-items
    &-items {
      gap: 8.33333vw;
    }

    //.history__line-item
    &-item {
      font-size: 5.83333vw;
      line-height: 7.29167vw;
    }

    //.history__line-navigation
    &-navigation {
      display: none;
    }
  }
}

//.history__information
.history__information {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    flex-direction: column;
    gap: 11.94444vw;

    //.history__information-picture
    &-picture {
      picture {
        display: block;
      }
    }

    //.history__information-phase
    &-phase {
      font-size: 4.44444vw;
      line-height: 5.55556vw;
      font-weight: 600;
      margin-bottom: 2.77778vw;
    }

    //.history__information-text
    &-text {
      font-size: 3.88889vw;
      line-height: 4.86111vw;

      &:not(:last-child) {
        margin-bottom: 8.33333vw;
      }
    }
  }
}

//End--History

//Start--Partners

//.partners__wrapper
.partners__wrapper {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    height: auto;

    //.partners__wrapper-container
    &-container {
      margin: 0 8.333vw;
      padding: 12.5vw 5.55556vw 10vw 5.55556vw;
      height: auto;
    }

    //.partners__wrapper-head
    &-head {
      margin-bottom: 12.5vw;
    }

    //.partners__wrapper-title
    &-title {
      font-size: 7.22222vw;
    }

    //.partners__wrapper-picture
    &-picture {
      margin-bottom: 6.94444vw;

      object {
        width: 50.55556vw;
        height: 20vw;
      }
    }

    //.partners__wrapper-name
    &-name {
      font-size: 4.44444vw;
      line-height: 5.55556vw;
      margin-bottom: 5.55556vw;
    }

    //.partners__wrapper-description
    &-description {
      font-size: 3.88889vw;
      line-height: 4.86111vw;
    }
  }
}

//.partners__swiper.swiper-wrapper
.partners__swiper.swiper-wrapper {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    height: 111.11111vw;
  }
}

//End--Partners

//Start--Contacts

//.contacts__wrapper
.contacts__wrapper {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    height: auto;

    //.contacts__wrapper-container
    &-container {
      margin: 0 8.333vw;
      padding: 11.11111vw 5.55556vw 15vw 5.55556vw;
    }

    //.contacts__wrapper-title
    &-title {
      font-size: 7.22222vw;
    }

    //.contacts__wrapper-head
    &-head {
      flex-direction: column;
      align-items: start;
      gap: 8.33333vw;
    }

    //.contacts__wrapper-links
    &-links {
      gap: 8.33333vw;
      margin-bottom: 8.33333vw;
    }

    //.contacts__wrapper-link
    &-link {
      padding-bottom: 2.77778vw;
    }

    //.contacts__wrapper-items
    &-items {
      grid-template-columns: 1fr;
      gap: 5.55556vw;
      margin-bottom: 18.88889vw;
    }

    //.contacts__wrapper-name
    &-name {
      font-size: 3.33333vw;
      line-height: 4.16667vw;
      margin-bottom: 1.66667vw;
    }

    //.contacts__wrapper-description
    &-description,
    &-description > * {
      font-size: 3.88889vw;
      line-height: 4.86111vw;
    }

    //.contacts__wrapper-requisites
    &-requisites {
      font-size: 2.77778vw;
      line-height: 3.47222vw;
    }

    //.contacts__wrapper-map
    &-map {
      height: 123.33333vw;
    }
  }
}

//End--Contacts

//Start--Connect

//.connect__wrapper
.connect__wrapper {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    height: auto;

    &:before {
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 85.83333vw;
      left: 0;
      width: 100%;
      height: 0.27778vw;
      border-bottom: 0.27778vw solid var(--colorText);
    }

    //.connect__wrapper-container
    &-container {
      margin: 0 8.333vw;
      padding: 11.11111vw 5.55556vw 15vw 5.55556vw;
      height: auto;
    }

    //.connect__wrapper-section
    &-section {
      width: 100%;
    }

    //.connect__wrapper-title
    &-title {
      font-size: 7.22222vw;
      margin-bottom: 11.66667vw;
    }

    //.connect__wrapper-items
    &-items {
      margin-bottom: 10.27778vw;
    }

    //.connect__wrapper-item
    &-item {
      padding-bottom: 5.55556vw;

      &:not(:last-child) {
        margin-bottom: 11.11111vw;
      }
    }

    //.connect__wrapper-label
    &-label {
      font-size: 3.88889vw;
      line-height: 4.86111vw;
    }

    //.connect__wrapper-input
    &-input {
      font-size: 3.88889vw;
      line-height: 4.86111vw;
      height: 5.55556vw;
    }

    //.connect__wrapper-send
    &-send {
      width: 50vw;
      height: 13.889vw;
      font-size: 3.889vw;
      line-height: 7.778vw;
      justify-content: center;
      padding: 3.333vw 12.5vw;
      box-sizing: border-box;
      margin-bottom: 9.44444vw;
    }

    //.connect__wrapper-checkbox
    &-checkbox {
      margin-bottom: 9.72222vw;
      gap: 4.16667vw;

      & input[type="checkbox"] + label {
        width: 5.55556vw;
        height: 5.55556vw;
        padding: 0.83333vw;
        min-width: 5.55556vw;
        border: 0.27778vw solid #fff;
      }
    }

    //.connect__wrapper-submit
    &-submit {
      font-size: 3.33333vw;
      line-height: 4.16667vw;
    }

    //.connect__wrapper-footer
    &-footer {
      display: block;
    }

    // .connect__wrapper-logo

    &-logo {
      width: 100%;
      height: 100%;
      display: block;
      margin-bottom: 5.55556vw;
      padding-top: 5.55556vw;
    }

    // .connect__wrapper-lists

    &-lists {
      margin: 0;
      padding: 0 8.33333vw 0 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 16.66667vw;
      row-gap: 2.77778vw;
      margin-bottom: 6.94444vw;
    }

    // .connect__wrapper-list

    &-list {
      list-style: none;
    }

    // .connect__wrapper-link

    &-link {
      color: #fff;
      font-family: var(--mainFont);
      text-decoration: none;
      font-size: 3.88889vw;
      line-height: 4.86111vw;
    }

    // .connect__wrapper-text

    &-text {
      color: #fff;
      font-family: var(--mainFont);
      font-size: 2.77778vw;
      line-height: 3.47222vw;
      margin: 0;
    }
  }
}

//End--Connect

//Start--Components

.logo {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    padding-top: 1.667vw;

    //.logo-image
    &-image {
      width: 33.889vw;
      height: 8.889vw;
    }
  }
}

.navigation {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    gap: 8.33333vw;
  }
}

.partners__swiper-prev,
.partners__swiper-next,
.history__swiper-prev,
.history__swiper-next {
  @media (max-width: 744px) and (min-width: 360px) and (min-height: 640px) {
    width: 5.55556vw;
    height: 5.55556vw;
  }
}

//End--Components
