.swiper {}

.swiper-wrapper {}

.swiper-slide {
    box-sizing: border-box;
}

.main__swiper {
    padding: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0;
    right: auto
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0;
    left: auto
}

.swiper-pagination-bullet::after {
    content: attr(data-name-slide);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in-out;
    writing-mode: vertical-lr;
    color: var(--mainColor);
    font-family: var(--mainFont);
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 200%;
    transform: rotate(180deg);
}

.swiper-pagination-bullet-active {
    flex-direction: column;
    gap: 1.04167vw;

    .main__swiper-name-slide {
        background-color: var(--mainColor);
    }
}

.swiper-pagination-bullet-active::after {
    max-height: 100%;
}

.main__swiper-prev,
.main__swiper-next {
    position: fixed;
    bottom: 0;
    /* top: var(--swiper-navigation-top-offset, 50%); */
    width: 4.16667vw;
    height: 4.16667vw;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: background-color .3s ease-in-out .3s;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--mainColor);
            transition: background-color .3s ease-in-out .3s;
        }
    }
    
}

.main__swiper-prev:after,
.main__swiper-next:after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.16667vw;
    height: 4.16667vw;
    font-size: var(--swiper-navigation-size);

}

.main__swiper-prev:after {
    content: "←";
}

.main__swiper-next:after {
    content: "→";
}

.partners__swiper-prev,
.history__swiper-prev,
.about__swiper-prev:after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 19.5L1.5 12M1.5 12L7.5 4.5M1.5 12H22.5' stroke='%23AEAEAE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 1.25vw;
    height: 1.25vw;
}

.partners__swiper-next,
.history__swiper-next,
.about__swiper-next:after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 19.5L22.5 12M22.5 12L16.5 4.5M22.5 12H1.5' stroke='%23AEAEAE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 1.25vw;
    height: 1.25vw;
}

.partners__swiper-prev,
.partners__swiper-next,
.history__swiper-prev,
.history__swiper-next {
    position: static;
    top: 30%;
    width: 1.25vw;
    height: 1.25vw;
    margin-top: 0;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color))
}

.history__swiper-prev {
    left: 88.4%;
}

.history__swiper-next {
    right: 5.1%;
}